.mainContainer {
  height: 100vh;
  width: 50vw;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  /* position: absolute; */
  margin: 2% 2%;
  height: 40vh;
  width: 20vw;
  /* position: absolute; */
  /* margin: 2% 2%; */
  padding-top: 20px;
  /* border: 2px solid black; */
  background-color: white;
  text-align: center;
}
/* .afterLogin{

} */

.notepad {
  height: 100vh;
  width: 50vw;
  /* animation: mymove 5s linear infinite alternate; */
  background-size: 120%;
  background-image: url("./bg.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.6s ease-in-out;
}


.Notebtn {
  height: 10vh;
  width: 20vw;
  border-radius: 20px;
  margin: 2% 2%;
  color: white;
  background-color: rgb(119, 119, 119);
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Notebtn:hover {
  background-color: white;
  color: black;
}

table {
  position: absolute;
  top: 10vh;
  left: 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  overflow: auto;
}

td {
  height: 5vh;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  text-align: center;
  color: white;
}

td button{width: 5vw;
}

.id {
  width: 10vw;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  color: white;
}
.title {
  width: 50vw;
  border-right: 1px solid gray;
  color: white;
}
.title2{
  width: 10vw;
  border-right: 1px solid gray;
  color: white;
}
.actions {
  border-right: 1px solid gray;
  width: 40vw;
  color: white;
}.details {
  width: 20vw;
  border-right: 1px solid gray;
  color: white;
}
.eformail{
  border-right: 1px solid gray;

  width: 10vw;
  color: white;
}

.AddNotes {
  height: 80vh;
  width: 40vw;
}

.toPer {
  display: flex;
}

.bckbtn button {
  position: absolute;
  height: 5vh;
  width: 10vw;
  top: 0;
  left: 0;
  margin-left: 2%;
  margin-top: 3%;
  border-radius: 50px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.bckbtn2{
  display: flex;
  width: 50vw;
  justify-content: flex-end;
}
.bckbtn2 button {
  position: absolute;
  height: 5vh;
  width: 10vw;
  top: 0;
  margin-right: 2%;
  margin-top: 3%;
  border-radius: 50px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.viewTitle{
  /* height: 10vh */
  width: 20vw;
  color:black;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}

.viewId{
  background-color: gray;
  border-radius: 0px 20px 0px 0px;
  width: 18vw;
  height: 4vh;
  display:flex;
  justify-content: center;
}

.viewContainer{
  width: 50vw;
  opacity: 0.8;
  height: 80vh;
  /* background-color: goldenrod; */
}
.titleContainer{
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  opacity: 0.9;
  margin-bottom: 50px;
}
.viewDescription{
  text-align: left;
  padding: 20px;
  width: 40vw;
  height: 50vh;
  background-color: white;
  opacity: 1;
  z-index:20;
  border-radius: 20px;
}
.detailsContainer{
  width: 50vw;
  opacity: 0.9699;
  display: flex;
  justify-content: center;
}